@model IEnumerable<ItemDB.Models.recipient>

@{
    ViewData["Title"] = "Recipients";
}

<h1>Recipients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipientId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.RecipientId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.RecipientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
