@model IEnumerable<ItemDB.Models.order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.orderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.orderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.orderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
